<?xml version="1.0" encoding="windows-1251"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <boidSettings>
    <BoidSettingsEx>
      <SpeedMultipliyer>3</SpeedMultipliyer>
      <ViewRadius>0.5</ViewRadius>
      <OptDistance>0.1</OptDistance>
      <AligmentForcePart>0.003</AligmentForcePart>
      <TotalForceMultipliyer>5</TotalForceMultipliyer>
      <Inertness>0.5</Inertness>
      <VerticalPriority>1</VerticalPriority>
      <AttractrionForce>0</AttractrionForce>
      <BirdsCount>10</BirdsCount>
    </BoidSettingsEx>
    <BoidSettingsEx>
      <SpeedMultipliyer>12</SpeedMultipliyer>
      <ViewRadius>0.6</ViewRadius>
      <OptDistance>0.2</OptDistance>
      <AligmentForcePart>0.0002</AligmentForcePart>
      <TotalForceMultipliyer>1</TotalForceMultipliyer>
      <Inertness>0.5</Inertness>
      <VerticalPriority>1.217391</VerticalPriority>
      <AttractrionForce>0.2463768</AttractrionForce>
      <BirdsCount>18</BirdsCount>
    </BoidSettingsEx>
    <BoidSettingsEx>
      <SpeedMultipliyer>4</SpeedMultipliyer>
      <ViewRadius>0.6</ViewRadius>
      <OptDistance>0.2</OptDistance>
      <AligmentForcePart>0.003</AligmentForcePart>
      <TotalForceMultipliyer>6</TotalForceMultipliyer>
      <Inertness>0.7</Inertness>
      <VerticalPriority>1.239131</VerticalPriority>
      <AttractrionForce>0</AttractrionForce>
      <BirdsCount>10</BirdsCount>
    </BoidSettingsEx>
  </boidSettings>
  <instancePointNum>1</instancePointNum>
  <debugSettings>
    <enableDrawing>false</enableDrawing>
    <obstaclesAvoidanceDraw>true</obstaclesAvoidanceDraw>
    <obstaclesAvoidanceColor>
      <r>1</r>
      <g>0</g>
      <b>0</b>
      <a>0.768627465</a>
    </obstaclesAvoidanceColor>
    <velocityDraw>false</velocityDraw>
    <velocityColor>
      <r>0.5</r>
      <g>0.5</g>
      <b>0.5</b>
      <a>0.549019635</a>
    </velocityColor>
    <positionForceDraw>true</positionForceDraw>
    <positionForceColor>
      <r>0</r>
      <g>0.5808823</g>
      <b>0.5808823</b>
      <a>0.5921569</a>
    </positionForceColor>
    <alignmentForceDraw>true</alignmentForceDraw>
    <alignmentForceColor>
      <r>1</r>
      <g>0.921568632</g>
      <b>0.0156862754</b>
      <a>1</a>
    </alignmentForceColor>
    <cohesionForceDraw>false</cohesionForceDraw>
    <cohesionForceColor>
      <r>1</r>
      <g>0</g>
      <b>1</b>
      <a>0.392156869</a>
    </cohesionForceColor>
    <collisionsAvoidanceForceDraw>false</collisionsAvoidanceForceDraw>
    <collisionsAvoidanceForceColor>
      <r>0</r>
      <g>0.131034851</g>
      <b>1</b>
      <a>0.6431373</a>
    </collisionsAvoidanceForceColor>
    <attractionForceDraw>false</attractionForceDraw>
    <attractionForceColor>
      <r>0</r>
      <g>1</g>
      <b>0</b>
      <a>0.494117647</a>
    </attractionForceColor>
    <totalForceDraw>false</totalForceDraw>
    <totalForceColor>
      <r>0.6758623</r>
      <g>0</g>
      <b>1</b>
      <a>0.7294118</a>
    </totalForceColor>
  </debugSettings>
  <showSettingsWindow>false</showSettingsWindow>
  <settingsWindowTab>0</settingsWindowTab>
</Settings>