<?xml version="1.0" encoding="windows-1251"?>
<ArrayOfSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Settings>
    <SpeedMultipliyer>3</SpeedMultipliyer>
    <ViewRadius>0.5</ViewRadius>
    <OptDistance>0.1</OptDistance>
    <AligmentForcePart>0.002</AligmentForcePart>
    <TotalForceMultipliyer>12</TotalForceMultipliyer>
    <Inertness>0.5</Inertness>
    <VerticalPriority>1</VerticalPriority>
    <AttractrionForce>0</AttractrionForce>
  </Settings>
  <Settings>
    <SpeedMultipliyer>8.217392</SpeedMultipliyer>
    <ViewRadius>0.5</ViewRadius>
    <OptDistance>0.157971</OptDistance>
    <AligmentForcePart>0</AligmentForcePart>
    <TotalForceMultipliyer>6.927539</TotalForceMultipliyer>
    <Inertness>0.5</Inertness>
    <VerticalPriority>1.217391</VerticalPriority>
    <AttractrionForce>0.03623189</AttractrionForce>
  </Settings>
  <Settings>
    <SpeedMultipliyer>5.072464</SpeedMultipliyer>
    <ViewRadius>0.6</ViewRadius>
    <OptDistance>0.2028985</OptDistance>
    <AligmentForcePart>0.00315942</AligmentForcePart>
    <TotalForceMultipliyer>12</TotalForceMultipliyer>
    <Inertness>0.5</Inertness>
    <VerticalPriority>1.282609</VerticalPriority>
    <AttractrionForce>0</AttractrionForce>
  </Settings>
</ArrayOfSettings>