div.content {
  margin-bottom: 30px;
  background: #8FC0DB;
}

div.content, div.broken, div.missing, div.playBtn {
  height: 600px;
  width: 960px;
  clear: both;
  position: relative;
}

div.broken img, div.missing img, div.playBtn img {
  height: auto;
  padding: 0;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div.broken, div.missing {
  display: none;
}
div#unityPlayer {
  cursor: default;
  clear: both;
  height: 600px;
  width: 960px;
}

@media print {
  div.content {
    display: none;
  }
}

